{% extends 'base.html' %}

{% block title %}Home - Django Demo{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h1 class="display-4 mb-4">Welcome to Django Demo</h1>
        <p class="lead">This is a beautiful home page created with Bootstrap.</p>
        <hr class="my-4">
        <p>Explore our features and learn more about Django development.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
{% endblock %}